// Configure the list of search paths used to search for valid workspaces.
// Tm uses these valid workspaces as options to attach to.
// paths {
  // Workspace paths are paths to recursivly search to find valid workspaces.
  // Tm will recursivly search the workspace paths until the max depth is
  // reached. To override the default workspace value set optional
  // `default=false`.
  //
  // Default:
  //  - "~"
  //
  // workspace default=true {
  //   - "~/code"
  // }

  // Single paths are paths that are added to the list of valid workspace
  // paths. This is useful if you want to add a path that would not be defined
  // as a valid workspace.
  //
  // Default: (empty)
  //
  // single default=false {
  //   - "~/.config/nvim"
  // }
// }

// Search depth for workspace paths.
// Default: 5
//
// depth 3

// Height of the fuzzy finder selection window. The value can be either a number or a string.
// A number represents the number of lines or entries to be displayed. A string can be either
// the string "full" meaning fullscreen or a number followed by a '%' (percent sign).
// The percentage is the percentage of the terminals hight to be used.
//
// Example:
//  "40%":  Hight is set to 40% of the terminal screen
//  10:     Hight is set to 10 lines/enteries
//  "full": Selection takes up the entire screen
//
// Default:
//  "50%"
//
// height 10

// Specifies the handling of git worktrees. There are three available modes:
//
// - 'ask':     Lists all worktrees and prompts the user for selection.
// - 'default': For bare repositories, uses the worktree related to the default branch; for non-bare repositories
//              uses the default working directory.
// - 'all':     Opens a separate window for each worktree.
//
// Default "ask"
//
// worktree "default"

// Workspace directory crawler will prune the paths containing any of these components.
// Options:
//   - default: boolean = true # Append to default value if true.
//
// Default:
// exclude_path default=true {
//   - ".direnv"
//   - "node_modules"
// }
//
// exclude_path {
//   - ".direnv"
//   - "node_modules"
// }
