// Configure the list of search paths used to search for valid workspaces.
// Tm uses these valid workspaces as options to attach to.
// paths {
  // Workspace paths are paths to recursivly search to find valid workspaces.
  // Tm will recursivly search the workspace paths until the max depth is
  // reached. To override the default workspace value set optional
  // `default=false`.
  //
  // Default:
  //  - "~"
  //
  // workspace default=true {
  //   - "~/code"
  // }

  // Single paths are paths that are added to the list of valid workspace
  // paths. This is useful if you want to add a path that would not be defined
  // as a valid workspace.
  //
  // Default: (empty)
  //
  // single default=false {
  //   - "~/.config/nvim"
  // }
// }

// Workspace definition for tm.
//
// A workspace is how tm defines a valid possible session. When tm searches
// though a workspace path (paths.workspace) it checks if the path matches any
// workspace definition. To override the default workspace definition set
// optional `default=false`.
//
// Default:
// workspace "default" {
//   files {
//     - ".git"
//     - ".bare"
//   }
// }
//
// workspaces default=true {
//   workspace "rust" {
//     files {
//       - "Cargo.toml"
//       - "Cargo.lock"
//     }
//   }
// }

// Search depth for workspace paths.
// Default: 5
//
// depth 3

// Height of the fuzzy finder selector. Value is a number [0-100] representing
// the precentage of the terminal's height.
// Default: 50
//
// height 40

// Chosee what fuzzy finder to use when selecting between multiple options.
// Options:
//   - fzf (Default)
//   - skim
//
// finder "skim"

// Workspace directory crawler will prune the paths containing any of these components.
// Options:
//   - default: boolean = true # Append to default value if true.
//
// Default:
// exclude_path default=true {
//   - ".direnv"
//   - "node_modules"
// }
//
// exclude_path {
//   - ".direnv"
//   - "node_modules"
// }
